<p>
  <%= image_tag('topimage.png',:width => 50) %>
</p>

<p>
  Dear <%= @booking.user.profile.try(:name) %>
</p>

<p>

Thank you for your query. We appreciate your patronage. We will revert to you within 24 hours.​
In case you require immediate assistance kindly call us at 011-49853050  between 10:00 AM and 6:00 PM .  


</p>

<br>

<p>
Warm regards,  
​<br>
Team Unlok​
<br>
www.Unlok.in​
<br>
011-49853050​
<br>
contact@unlok.in 
</p>
