<p>
  <%= image_tag('topimage.png',:width => 50) %>
</p>

<p>
  Hello,
</p>

<p>
  I have some question you can help us.
</p>

<p>
  Let me know my request would be accepted for your company.
</p>

<p>
  My personal Info are Given Below:
</p>

<p>
  Email Address: <%= @contact.email %>
</p>

<p>
  Mobile Number: <%= @contact.phone %>
</p>

<p>
  Message: <%= @contact.message %>
</p>

<p>
 Kindly let me know I can carry out my requirements.
</p>

<br>

<p>
  Thanks
</p>
