<p>
  <%= image_tag('topimage.png',:width => 50) %>
</p>

<p>
  Dear User,
</p>

<p>
  Welcome to Unlok (www.unlok.in). We are India’s one of a kind premium private aircraft aggregator and an aircraft luxury service provider. We are happy to have you as a part of our family. 
</p>

<p>
  To login in your account, you can click on Login or My Account on the right top of our website. 
</p>

<p>
  Your login credentials are given below:
</p>

<p>
  Email: <%= @user.email %>
</p>

<p>
 Kindly keep your User ID and your Password safe as it will be used in all future transactions.
</p>

<p>
  If you have any questions, please contact us at contact@unlok.inor call us at 011-49853050 on Mondays to Fridays anytime between 9.00 A.M and 6.00 P.M.
</p>

<br>

<p>
  Thanking you, 
</p>
<p>
  Team Unlok 
</p>  