<header class="header grey-bg">
 <% if user_signed_in? %>
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" style="color: #797979;"></div>
  </div>
<% end %>

  <!--<div class="secondary-navbar" style="margin-top: 40px; padding-left: 26px;">-->
    <!--<%= link_to "<- Book a Flight", authenticated_root_path %>-->
  <!--</div>-->
</header>
