<%= render 'header' %>

<section id="main-content">
      <section class="wrapper">
        <h3></h3>
        <div class="rows mt">

          <div class="bfthankyou">
            <h4>Thank you for choosing Unlokair</h4>
            <%= image_tag("air.png", :class => "img_preview") %>
            <!-- <img src="assets/img/air.png" class="airicon"> -->
            <p>We will revert back to you within 24 hours</p>
          </div>

        </div>

</section><! --/wrapper -->
