 
<section id="main-content">

    <div class="background-box" style="background-image:url(/assets/legs.jpg);">
      <div class="container" style="color: white; margin: 0 auto;
              width: 78%;
              padding-top: 60px;
              font-size: 15px;
              line-height: 26px;">

               <a class="unloklogo"><img src="/assets/logo.png"/></a>
               <br/>
               <br/>
        <div> An empty leg becomes available for return journey, When an operator has booked the aircraft to fly only one way, they need to bring the aircraft back to its original location empty.</div> <br/>
        <div>This means that by booking wisely you could save up to 75% on the cost of conventional private jet charter  </div> <br/>
        
        <p> Check out list of empty leg charter flights. Simply scroll down the list of dates, destinations,aircraft, capacities and prices to see what we have to offer.Or enter exactly what you are looking for into our Search Flight </p>
        <ul>
          
        </ul>
        
        <div class="centered">
          <img src="/assets/emptylegs.png"/>
        <br/>
        <br/>
        <a href="/emptylegs">
         <img src="/assets/button.png" align="middle"/>
       </a>
       </div>

        <!--<a style="color:#F1F1B3; float: right;" href="#" onclick="history.back();">Back</a>-->
      </div>
    </div>

</section>
