 <div class="header grey-bg">
  <% if user_signed_in? %>
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" style="color: #797979;"></div>
      </div>
  <% end %>
</div>
<section id="main-content">

    <div style="background-image: url(images/ours.jpg); height: 100%; position: absolute;">
      <div class="container" style="color: white; margin: 0 auto;
              width: 78%;
              padding-top: 120px;
              font-size: 15px;
              line-height: 26px;">
        <div>We are a one of a kind premium private aircraft aggregator and an aircraft luxury service provider. </div>
        <p> Our services include </p>
        <ul>
          <li style="list-style: inherit;"> Private aircraft and helicopter rentals and seat bookings to/from any location within India and to/from select locations abroad</li>
          <li style="list-style: inherit;">Personalized luxury travel planning for special events like destination weddings, honeymoons, birthdays, bachelor and bachelorette parties and for corpo   b.rate occasions like conferences, business trips and annual meets.</li>
          <li style="list-style: inherit;">Special empty leg offers</li>
          <li style="list-style: inherit;">Various tier membership jet cards</li>
          <li style="list-style: inherit;">We are also assembling the finest collection of luxury products in our shop section for our registered members</li>
        </ul>
        <a style="color:#F1F1B3; float: left;" href="terms.html">Terms and conditions </a>
<br>
        <a style="color:#F1F1B3; float: left;" href="privacy.html">Privacy Policy</a>
        <!--<a style="color:#F1F1B3; float: right;" href="#" onclick="history.back();">Back</a>-->
      </div>
    </div>

</section>
