<div style="width: 100%;margin-left:245px">
  <div style="width: 75%; float: left;">
    <h1>Welcome</h1>
    <p>Api application welcomes you.</p>
    </div>
    <div style="width: 25%; float: right;">
     <%#= link_to "Admin Panel", new_admin_user_session_path %>
      <%#= link_to "API Help", api_help_path%>
  </div>
</div>
