<div class="header grey-bg">
  <% if user_signed_in? %>
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" style="color: #797979;"></div>
      </div>
  <% end %>
</div>
<section id="main-content">
  <section class="unlokshop-wrapper" style="">
    <div class="rows mt">
      <div id="overlay">
        <div class="soon">
          <img src="assets/logo.png">
          <div style="font-size: 12px; color: #dfccb1; text-align: center;"> S H O P </div>
          <p>Coming soon</p>
        </div>
      </div>
      <div class="holder">
  			<div class="col-lg-4 col-md-4 col-sm-4" style="padding:0px;">
  				<a href="watches_list.html">
                    <div class="shop talign">
    					<img src="assets/watches.jpg">
    					<h2 class="catitle">Watches</h2>
  				    </div>
                </a>
  			</div>
  			<div class="col-lg-4 col-md-4 col-sm-4" style="padding:0px;">
  				<a href="cars_list.html">
                    <div class="shop">
    					<img src="assets/cars.jpg">
    					<h2 class="catitle">Cars</h2>
  				    </div>
                </a>
  				<a href="accessories_list.html">
                    <div class="shop">
    					<img src="assets/accessories.jpg">
    					<h2 class="catitle">Accessories</h2>
    				</div>
                </a>
  			</div>
  			<div class="col-lg-4 col-md-4 col-sm-4" style="padding:0px;">
  				<div class="talign">
  					<a href="art_list.html">
                        <div class="shop">
    						<img src="assets/arts.jpg">
    						<h2 class="catitle">Art</h2>
    					</div>
                    </a>
  				</div>
  				<div class="talign">
  					<a href="gadgets_list.html">
                        <div class="shop">
    						<img src="assets/gadget.jpg">
    						<h2 class="catitle">Gadgets</h2>
    					</div>
                    </a>
  				</div>
  			</div>
      </div>
    </div>
  </section>
</section>
