<p>Dear User,</p>

<p>
  There was recently a request to change the password for your account.
</p>

<p>
  If you requested this password change, please click on the following link to reset your password.
</p>

<p>
  <%= link_to edit_password_url(@resource, reset_password_token: @token),edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  if clicking the link does not work, please copy and paste the URL into your browser instead.
</p>

<p>
  If you did not make this request, you can ignore this message and your password will remain same.
</p>

<p>
  If you have any Question, please Contact us at contact@unlok.in or call us at 011-49853050 Monday-Friday, 9.00am to 6.00pm.
</p>